@import '../resources/mixins.scss';

.preview-container {
    background-color: white;
    border-top-right-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        button {
            margin: 0 0.5rem;
            height: fit-content;
        }

        .histogram-container {
            display: none;

            @include tablet() {
                display: block;
                width: 45%;
                margin-left: auto;
                box-shadow: 0px 0px 20px 2px #1d282e1a;
            }
        }
    }


    .image-container {
        width: auto;
        display: block;
        margin: auto;
        display: flex;
        flex-direction: column;
        height: fit-content;

        @include hd {
            width:70%;
        }

        @include tablet {
            width: 100%;
        }

        .image {
            object-fit: contain;
            width:100%;
            height: 100%;
            box-shadow: 0px 0px 20px 2px #1d282e1a;
        }

        .image-name {
            margin-left: auto;
            color: black;
            font-weight: 300;
            font-size: 1.25rem;
            margin-top: 1rem;
        }
    }
}